In [1]:
# import packages
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
#df = pd.read_csv('input/EstMB_phenotype_data.csv', sep=',', encoding='latin1')
df = pd.read_excel('results/EstMB_phenotype_data.xlsx')
df.tail(2)

,skood,gender,Age_at_MBsample,BMI,WHR,antibiotics,samplingSeason,BP_systolic,birthPlace_typeCity,bornByCaesereanSection_code,...,hasPets_name_mapeada,hasSpecialDietFollowing_name_mapeada,hasTakenSupplements_name_mapeada,seasonableAllergy_name_mapeada,takenRinsingMouth_name_mapeada,tonsilsRemoved_name_mapeada,conditionBowel_name_mapeada,dringingWaterAtHome_name_mapeada,frequencyGutEmpting_name_mapeada,health_status_mapeada
2507,EGVD047449,1,NaN,21.14,0.81,Not in the last year,NaN,NaN,1.0,2.0,...,Yes,No,Yes,No,No,No,I have normal bowel movements,Tap water,Once a day,I have no pain or discomfort
2508,EGVD048679,1,NaN,31.64,0.90,Not in the last year,NaN,NaN,1.0,2.0,...,Yes,No,No,No,No,No,I have normal bowel movements,Tap water,Once a day,I have no pain or discomfort

In [6]:
nm = pd.read_excel('input/ICD10_name_data_v3.xlsx')
nm.head()

  ICD10_category                             ICD10_name
0            A00                                Cholera
1            A01         Typhoid and paratyphoid fevers
2            A02            Other salmonella infections
3            A03                            Shigellosis
4            A04  Other bacterial intestinal infections

In [11]:
# Print the names of all columns
column_names = df.columns
# convrt nm to df
column_names = pd.DataFrame(column_names)
# change column name
column_names.columns = ['ICD10_category']
column_names

                       ICD10_category
0                               skood
1                              gender
2                     Age_at_MBsample
3                                 BMI
4                                 WHR
..                                ...
340       tonsilsRemoved_name_mapeada
341       conditionBowel_name_mapeada
342  dringingWaterAtHome_name_mapeada
343  frequencyGutEmpting_name_mapeada
344             health_status_mapeada

[345 rows x 1 columns]

In [13]:
# merge nm and column names
mrg = pd.merge(nm, column_names, on='ICD10_category', how='inner')
mrg

   ICD10_category                                         ICD10_name
0             B18                            Chronic viral hepatitis
1             B37                                        Candidiasis
2             C18                        Malignant neoplasm of colon
3             D10               Benign neoplasm of mouth and pharynx
4             D12  Benign neoplasm of colon, rectum, anus and ana...
..            ...                                                ...
60            N20                      Calculus of kidney and ureter
61            N80                                      Endometriosis
62            N81                            Female genital prolapse
63            N95      Menopausal and other perimenopausal disorders
64            N97                                 Female infertility

[65 rows x 2 columns]

Antibiotics

In [14]:
df.value_counts()

Series([], dtype: int64)

In [18]:
df['antibiotics'].value_counts()

Viimase aasta jooksul mitte    1525
Viimase aasta jooksul           420
Viimase 6 kuu jooksul           417
Viimasel kuul                    90
Viimasel nädalal                 32
Name: antibiotics, dtype: int64

In [21]:
# Create a dictionary to map values
mapping_dict = {'Viimase aasta jooksul mitte': 'Not in the last year', 
                'Viimase aasta jooksul': 'During the last year', 
                'Viimase 6 kuu jooksul': 'In the last 6 months',
                'Viimasel kuul': 'In the last month', 
                'Viimasel nädalal': 'In the last week'}

# Using the map() method to create a new column
#df['antibiotics_mapeada'] = df['antibiotics'].map(mapping_dict)

# Using the replace() method to replace values in the column
#df['antibiotics'].replace(mapping_dict, inplace=True)

Yes/No

In [15]:
df['bornByCaesereanSection_name'].value_counts()

No             2380
Do not know      74
Yes              51
Name: bornByCaesereanSection_name, dtype: int64

In [26]:
# Create a dictionary to map values
mapping_dict = {'Ei': 'No', 
                'Ei tea': 'Do not know', 
                'Jah': 'Yes'}

# Using the map() method to create a new column
df['bornByCaesereanSection_name_mapeada'] = df['bornByCaesereanSection_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['bornByCaesereanSection_name'].replace(mapping_dict, inplace=True)

df.tail(2)

,skood,gender,Age_at_MBsample,BMI,WHR,antibiotics,samplingSeason,BP_systolic,birthPlace_typeCity,bornByCaesereanSection_code,...,doesPhysicalExercise,mental_health_status_ok,health_status_ok,alcohol_frequency_category,antibiotics_history_quartile,antidepressants_history_quartile,antibiotics_history_cont,antidepressants_history_cont,antibiotics_mapeada,bornByCaesereanSection_name_mapeada
2507,EGVD047449,1,NaN,21.14,0.81,Not in the last year,NaN,NaN,1.0,2.0,...,0,1,1,NaN,Not used,Not used,0.0,0.0,Not in the last year,No
2508,EGVD048679,1,NaN,31.64,0.90,Not in the last year,NaN,NaN,1.0,2.0,...,0,1,1,Low,Not used,Not used,0.0,0.0,Not in the last year,No

In [40]:
# Create a dictionary to map values
mapping_dict = {'Ei': 'No', 
                'Ei tea': 'Do not know', 
                'Jah': 'Yes'}

In [50]:
df['tonsilsRemoved_name'].value_counts()

Ei        1629
Jah        858
Ei tea      18
Name: tonsilsRemoved_name, dtype: int64

In [51]:
# Using the map() method to create a new column
df['tonsilsRemoved_name_mapeada'] = df['tonsilsRemoved_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['tonsilsRemoved_name'].replace(mapping_dict, inplace=True)

In [49]:
# Using the map() method to create a new column
df['takenRinsingMouth_name_mapeada'] = df['takenRinsingMouth_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['takenRinsingMouth_name'].replace(mapping_dict, inplace=True)

In [47]:
# Using the map() method to create a new column
df['seasonableAllergy_name_mapeada'] = df['seasonableAllergy_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['seasonableAllergy_name'].replace(mapping_dict, inplace=True)

In [45]:
# Using the map() method to create a new column
df['hasTakenSupplements_name_mapeada'] = df['hasTakenSupplements_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['hasTakenSupplements_name'].replace(mapping_dict, inplace=True)

In [43]:
# Using the map() method to create a new column
df['hasSpecialDietFollowing_name_mapeada'] = df['hasSpecialDietFollowing_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['hasSpecialDietFollowing_name'].replace(mapping_dict, inplace=True)

In [41]:
# Using the map() method to create a new column
df['hasPets_name_mapeada'] = df['hasPets_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['hasPets_name'].replace(mapping_dict, inplace=True)

In [36]:
# Using the map() method to create a new column
df['hasBowelMoreInformation_name_mapeada'] = df['hasBowelMoreInformation_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['hasBowelMoreInformation_name'].replace(mapping_dict, inplace=True)

In [34]:
# Using the map() method to create a new column
df['gumTreatmentPerformed_name_mapeada'] = df['gumTreatmentPerformed_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['gumTreatmentPerformed_name'].replace(mapping_dict, inplace=True)

In [32]:
# Using the map() method to create a new column
df['gumDiseaseDiagnosed_name_mapeada'] = df['gumDiseaseDiagnosed_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['gumDiseaseDiagnosed_name'].replace(mapping_dict, inplace=True)

In [28]:
# Using the map() method to create a new column
df['cecumRemoved_name_mapeada'] = df['cecumRemoved_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['cecumRemoved_name'].replace(mapping_dict, inplace=True)

In [30]:
# Using the map() method to create a new column
df['chickenpox_name_mapeada'] = df['chickenpox_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['chickenpox_name'].replace(mapping_dict, inplace=True)

new

In [54]:
df['conditionBowel_name'].value_counts()

Mul on normaalne soole tühjenemine                                                       1489
Mul esineb sageli kõhukinnisust                                                           410
Mul esineb vahelduv kõhulahtisus (periooditi kõhu kinnisus, periooditi kõhu lahtisus)     300
Mul esineb sageli kõhulahtisust                                                           222
Ei tea                                                                                     84
Name: conditionBowel_name, dtype: int64

In [55]:
# Create a dictionary to map values
mapping_dict = {'Mul on normaalne soole tühjenemine': 'I have normal bowel movements', 
                'Mul esineb sageli kõhukinnisust': 'I am often constipated', 
                'Mul esineb vahelduv kõhulahtisus (periooditi kõhu kinnisus, periooditi kõhu lahtisus)': 'I have intermittent diarrhea (constipation at times, bloating at times)',
                'Mul esineb sageli kõhulahtisust': 'I often have diarrhea', 
                'Ei tea': 'Do not know'}

# Using the map() method to create a new column
df['conditionBowel_name_mapeada'] = df['conditionBowel_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['conditionBowel_name'].replace(mapping_dict, inplace=True)

In [56]:
df['dringingWaterAtHome_name'].value_counts()

Kraanivett                1907
Kaevuvett                  272
Pudelivett                 197
Filtreeritud joogivett     124
Ei tea                       5
Name: dringingWaterAtHome_name, dtype: int64

In [57]:
# Create a dictionary to map values
mapping_dict = {'Kraanivett': 'Tap water', 
                'Kaevuvett': 'Well water', 
                'Pudelivett': 'Bottled water',
                'Filtreeritud joogivett': 'Filtered drinking water', 
                'Ei tea': 'Do not know'}

# Using the map() method to create a new column
df['dringingWaterAtHome_name_mapeada'] = df['dringingWaterAtHome_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['dringingWaterAtHome_name'].replace(mapping_dict, inplace=True)

In [59]:
df['frequencyGutEmpting_name'].value_counts()

Üks kord päevas                                      1395
Kaks korda päevas                                     517
Kolm kuni kuus korda nädalas                          403
Üks kuni kaks korda nädalas                           109
Üle kolme korra päevas                                 63
Väga ebaregulaarselt, ükski eelnev vastus ei sobi      14
Vähem kui üks kord nädalas                              3
Name: frequencyGutEmpting_name, dtype: int64

In [60]:
# Create a dictionary to map values
mapping_dict = {'Üks kord päevas': 'Once a day', 
                'Kaks korda päevas': 'Twice a day', 
                'Kolm kuni kuus korda nädalas': 'Three to six times a week',
                'Üks kuni kaks korda nädalas': 'One to two times a week', 
                'Üle kolme korra päevas': 'More than three times a day',
                'Väga ebaregulaarselt, ükski eelnev vastus ei sobi': 'Very irregular, none of the previous answers fit',
                'Vähem kui üks kord nädalas': 'Less than once a week'}

# Using the map() method to create a new column
df['frequencyGutEmpting_name_mapeada'] = df['frequencyGutEmpting_name'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['frequencyGutEmpting_name'].replace(mapping_dict, inplace=True)

In [61]:
df.to_excel('results/EstMB_phenotype_data.xlsx', index=False)

next

In [6]:
df['health_status'].value_counts()

Mul on mõõdukas valu või ebamugavustunne           1243
Mul ei ole mingeid valusid ega ebamugavustunnet    1212
Mul on väga tugev valu või ebamugavustunne           53
Mul on mõõdukas  valu või ebamugavustunne             1
Name: health_status, dtype: int64

In [7]:
# Create a dictionary to map values
mapping_dict = {'Mul on mõõdukas valu või ebamugavustunne': 'I have moderate pain or discomfort', 
                'Mul ei ole mingeid valusid ega ebamugavustunnet': 'I have no pain or discomfort', 
                'Mul on väga tugev valu või ebamugavustunne': 'I have very severe pain or discomfort',
                'Mul on mõõdukas  valu või ebamugavustunne': 'I have moderate pain or discomfort'}

# Using the map() method to create a new column
df['health_status_mapeada'] = df['health_status'].map(mapping_dict)
# Using the replace() method to replace values in the column
df['health_status'].replace(mapping_dict, inplace=True)

In [8]:
df.to_excel('results/EstMB_phenotype_data.xlsx', index=False)